<div class="d-flex m-5">
  <div class="block">
    <% if @nanny.photo.attached? %>
      <%= cl_image_tag @nanny.photo.key, height: 300, width: 400, crop: :fill, class: "card-image" %>
    <% end %>
  </div>
  <div class='p-5'>
    <h2><%= @nanny.description %></h2>
    <p><%=@nanny.price_per_hour%>€</p>
    <div><%= link_to "Book me", root_path, class: "btn btn-primary" %></div>
  </div>
</div>
    <p><%= link_to 'Back', nannies_path, class: "btn btn-secondary" %></p>
